<div class="modal-header">
        <button class="close" ng-click="addDataValidationCtrl.close()" data-dismiss="modal" aria-hidden="true"
                type="button">&times;
        </button>
        <h2 class="modal-title">Add predicate</h2>
</div>
<div class="modal-body">
    <!-- Select Predicate -->
    <div class="row">
        <div class="text-right col-md-4">Predicate<i class="fa fa-info-circle" uib-tooltip="Rule to apply on column"
                style="margin-left: 10px"></i>
        </div>
        <div class="col-md-2">
            <select ng-model="addDataValidationCtrl.selected_predicate"
                ng-options="p.name for p in addDataValidationCtrl.valid_predicates">
            </select>
        </div>
    </div>

    <!-- Select Feature -->
    <!-- Single feature selection -->
    <div ng-if="addDataValidationCtrl.has_predicate_been_selected()">
    <div class="row" ng-if="addDataValidationCtrl.selected_predicate.columnsSelectionMode == 1">
        <div class="text-right col-md-4">Select Feature<i class="fa fa-info-circle"
                uib-tooltip="Select Feature to perform data validation" style="margin-left: 10px"></i>
        </div>

        <div class="col-md-2">
            <select ng-model="addDataValidationCtrl.selected_predicate.features" ng-options="f.name for f in addDataValidationCtrl.features">
            </select>
        </div>
    </div>
    <!-- Multi features selection -->
    <div class="row" ng-if="addDataValidationCtrl.selected_predicate.columnsSelectionMode == 2">
        <div class="text-right col-md-4">Select Features<i class="fa fa-info-circle"
                uib-tooltip="Select Feature to perform data validation" style="margin-left: 10px"></i>
        </div>
    
        <div class="col-md-2">
                <select ng-model="addDataValidationCtrl.selected_predicate.features" ng-options="f.name for f in addDataValidationCtrl.features" multiple>
                    </select>
        </div>
    </div>
</div>

    <!-- Per predicate arguments. Embrace yourself -->
    <div class="row" ng-if="addDataValidationCtrl.has_predicate_been_selected()">
        <!-- Boundary predicates -->
        <div ng-if="addDataValidationCtrl.selected_predicate.predicateType == 0">
            <div class="row">
                <div class="text-right col-md-4">Min Size<i class="fa fa-info-circle"
                    uib-tooltip="Select Min value" style="margin-left: 10px"></i>
                </div>
                <div >
                    <input type="number" ng-model="addDataValidationCtrl.selected_predicate.min" ng-init="1" min="1" value="1">
                </div>

                <div class="text-right col-md-4">Max Size<i class="fa fa-info-circle"
                    uib-tooltip="Select Max value" style="margin-left: 10px"></i>
                </div>
                <div >
                    <input type="number" ng-model="addDataValidationCtrl.selected_predicate.max" ng-init="10" min="1" value="1">
                </div>
            </div>
        </div>

        <!-- Generic arguments-->
        <div class="row">
            <div class="text-right col-md-4">Hint<i class="fa fa-info-circle"
                uib-tooltip="Message for output" style="margin-left: 10px"></i>
            </div>
            <div >
                <input type="text" ng-model="addDataValidationCtrl.selected_predicate.hint" ng-init="Hint" value="Hint">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
        <button type="button" ng-click="addDataValidationCtrl.addNewPredicate()" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div