<div class="modal-header">
    <button class="close" ng-click="dataValidationModalsCtrl.close()" data-dismiss="modal" aria-hidden="true"
        type="button">&times;
    </button>
    <h2 class="modal-title">Create constraint group</h2>
</div>
<div class="modal-body">
    <!-- Group name -->
    <div class="row">
        <div class="text-right col-md-4">Name<i class="fa fa-info-circle" uib-tooltip="Constraint group name"
                style="margin-left: 10px"></i>
        </div>
        <div class="col-md-2">
            <div>
                <input type="text" ng-model="dataValidationModalsCtrl.constraintGroup.name">
            </div>
        </div>
    </div>

    <!-- Group description -->
    <div class="row">
        <div class="text-right col-md-4">Description<i class="fa fa-info-circle"
                uib-tooltip="Constraint group description" style="margin-left: 10px"></i>
        </div>
        <div class="col-md-2">
            <div>
                <input type="text" ng-model="dataValidationModalsCtrl.constraintGroup.description">
            </div>
        </div>
    </div>

    <!-- Group level -->
    <div class="row">
        <div class="text-right col-md-4">Level<i class="fa fa-info-circle" uib-tooltip="Constraint group level"
                style="margin-left: 10px"></i>
        </div>
        <div class="col-md-2">
            <select ng-model="dataValidationModalsCtrl.constraintGroup.level"
                ng-options="l for l in dataValidationModalsCtrl.constraintGroupLevels">
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" ng-click="dataValidationModalsCtrl.addNewGroup()" class="btn btn-primary">Save</button>
    <button ng-click="dataValidationModalsCtrl.close()" type="button" class="btn btn-secondary"
        data-dismiss="modal">Close</button>
</div